# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

HOSTNAME=http://localhost:3000
JWT_SECRET="MyS3cr3tK3Y"
REDIS_HOST=localhost
REDIS_PORT=6379
EXPO_ACCESS_TOKEN=
PRODUCTION=false
